@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {	
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 400;    
	background: #fff;
	color: #333333;	
}

a,a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

::selection {
    color: white; 
    background: #ff7675;
}

::-webkit-selection {
    color: white; 
    background: #ff7675;
}

::-moz-selection {
    color: white; 
    background: #ff7675;
}


/*--- topheader-area start ---*/
.topheader-area {
   background-color: #663477;
   padding: 10px 0;
}


.topheader-left {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.topheader-left p {

color: #FFCF4A;

font-size: 15px;

margin: 0;

font-weight: 500;

text-align: center;

display: flex;

align-items: center;

justify-content: center;

font-style: italic;
}

.topheader-left p img {
    width: 23px;
    height: 23px;
    display: block;
    margin-right: 6px;
}


/*--- header-area start ---*/
.header-area {
    background-color: #fff;
    padding: 7px 0;
    position: relative;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.header-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img {
    display: block;
    max-width: 100%;
}


.header-btn ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: right;
}

.header-btn ul li {
    display: inline-block;
    padding-left: 10px;
}


.header-btn ul li:nth-child(1) a {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    width: 90px;
    height: 43px;
    display: block;
    background-color: #00000000;
    border: 1px solid #000;
    text-align: center;
    line-height: 43px;
    border-radius: 10px;
    transition: 0.3s all ease;
}

.header-btn ul li:nth-child(1) a:hover {
    background-color: #000;
    color: #fff;
}


.header-btn ul li:nth-child(2) a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 115px;
    height: 43px;
    display: block;
    background-color: #000000;
    border: 1px solid #000000;
    text-align: center;
    line-height: 43px;
    border-radius: 10px;
    transition: 0.3s all ease;
}

.header-btn ul li:nth-child(2) a:hover {
    background-color: #8457b9;
    color: #fff;
    border: 1px solid #8457b9;
}



.container {
    max-width: 1280px;
    display: block;
    margin: auto;
    padding: 0 15px;
}

.topbg {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;   
}


.header-btn {
    position: relative;
    z-index: 9999;
}


/*--- hero-area start --*/
.hero-area {
  background-color: #fff;
  padding: 80px 0;
}

.heropartbg {
    background-image: url("img/bgheroimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}

.heropart {
    background-image: url("img/heroimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px;
    padding-top: 80px;
    border-radius: 30px;
    text-align: center;
}

.heropart h1 {
    color: #262626;
    font-size: 70px;
    font-weight: 500;
    margin: 0;
    line-height: 84px;
    padding-bottom: 40px;
    background: linear-gradient(to right, #e2e2e2 0%, #dedede 33%, #dedede 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.heropart p {
     font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    line-height: 32px;
}


.heropart a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 16px 41px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 50px;
    transition: 0.3s all ease;
    background: linear-gradient(106.96deg, #A56DE9 6.63%, #64438C 151.78%);  
}

.heropart a:hover {
    background: linear-gradient(106.96deg, #000 6.63%, #000 151.78%);
    color: #fff;  
}


/*--- footer-area start --*/
.footer-area {
  background-color: #423258;
  padding: 60px 0;
  padding-bottom: 0px;
}

.responsiblegambling-part h2 {
    color: #fefefe;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    line-height: 62px;
    padding-bottom: 30px;
}

.responsiblegambling-part p {
    font-family: "Inter", sans-serif;
    color: #d9d6de;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    line-height: 26px;
    padding-bottom: 30px; 
}
.responsiblegambling-part p a{
    color: #fff;
    text-decoration: underline;
}
.footertext {
    padding-top: 35px;
}

.footertext p {
    color: #d9d6de;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.footer-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-top: 40px;
}

.footer-nav ul li {
    display: inline-block;
    padding-right: 57px;
}

.footer-nav ul li:last-child {
    padding-right: 0px;
}

.footer-nav ul li a {
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 16px;
    display: block;
    font-weight: 500;
    transition: 0.2s all ease;
    text-decoration: underline;
}

.footer-nav ul li a:hover {
    color: #f7edff;
}

.footerlogos ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
    padding-top: 15px;
}

.footerlogos ul li {
    display: inline-block;
    margin-right: 5px;
}

.footerlogos ul li:first-child {
    margin-left: 0px;
}


.footerlogos ul li:last-child {
    margin-right: 0px;
}


.footerlogos ul li a img {
    max-width: 100%;
    display: block;
    margin: auto;
    height: 65px;
}



.footer-copyright {
    border-top: 1px solid #d9d6de;
    padding: 10px 0;
    margin-top: 50px;
}

.footer-copyright p {
    font-family: "Inter", sans-serif;
    color: #d9d6de;
    font-size: 14px;
    text-align: right;
    margin: 0;
    font-weight: 300;
    line-height: 20px;
}



/*--- footer-area start --*/
.faq-area {
  background-color: #F7EDFF;
  padding: 90px 0;
  position: relative;
  padding-top: 260px;
}


.faq-heading {
    padding-bottom: 52px;
}

.faq-heading h2 {
    color: #000000;
    font-size: 40px;
    font-weight: 500;
    line-height: 55px;
    margin: 0;
    text-transform: capitalize;
    text-align: center;
}

.ziehharmonika h3 {
    color: #000000;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 25px;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 13px;
    padding-right: 54px;
    transition: 0.25s all;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-transform: capitalize;
    
}

.ziehharmonika h3.active {
    margin-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
}

.ziehharmonika h3.alignLeft {
    padding-left: 35px;
}

.ziehharmonika > div {
    color: #000;
    display: none;
    border-radius: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    padding: 16px 25px;
    background-color: #fff;
    margin-bottom: 13px;
    border-radius: 0px 0px 10px 10px;
    padding-top: 0px;
}


.ziehharmonika > div span {
    width: 100%;
    height: 1px;
    background-color: #bb84ff;
    display: block;
    margin-bottom: 20px;
}

.ziehharmonika .arrowDown {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13.0px 7.5px 0 7.5px;
    border-color: #272e35 transparent transparent transparent;
    position: absolute;
    bottom: 0;
    left: 40px;
    transition: 0.25s all;
    opacity: 0;
}

.ziehharmonika .collapseIcon {
    position: absolute;
    right: 25px;
    top: 56%;
    font-weight: 300;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.ziehharmonika .collapseIcon.alignLeft {
    right: initial;
    left: 20px;
}

.ziehharmonika .collapseIcon img {
    max-width: 85%;
}

/*--- playreviews-area start ---*/
.playreviews-area {
    background-color: #fff;
    padding: 90px 0;
    padding-bottom: 0px;
}

.playreviews-hd {
    padding-bottom: 80px;
}


.playreviews-hd h2 {
    color: #000;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    text-transform: capitalize;
    padding-bottom: 25px;
    text-align: center;
}

.playreviews-hd p {
    font-family: "Inter", sans-serif;
    color: #000;
    font-size: 17px;
    line-height: 32px;
    margin: 0;
    font-weight: 400;
    text-align: center;
}


.playreviews-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 35px;
    justify-content: space-around;
    grid-row-gap: 35px;
    margin-bottom: -124px;
    position: relative;
    z-index: 9; 
}


.reviewsbox {
    position: relative;
    background: #fff;
    border-radius: 15px;
    padding: 30px 30px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    width: 100%;
    padding-bottom: 40px;
}


.reviewsuser {
    display: flex;
    align-items: center;
}

.reviewsuser-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 18px;
}

.reviewsuser-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviewsuser-hd h2 {
    font-family: "Inter", sans-serif;
    color: #000000;
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

.reviewsbox-rating p {
    font-family: "Inter", sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    display: flex;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 23px;
}

.reviewsbox-rating p img {
    max-width: 100%;
    height: 22px;
    display: block;
    margin-left: 8px;    
}

.reviewsboxoitem-text p {
    font-family: "Inter", sans-serif;
    color: #000000;
    font-size: 16px;
    margin: 0;
    line-height: 27px;    
}

/*--- lifeLotteryoe-area start---*/
.lifeLotteryoe-area {
   background-color: #F7EDFF;
   padding: 80px 0;
   padding-bottom: 120px;
}



.lifeLotteryoe-left {
    padding-bottom: 80px;
}

.lifeLotteryoe-left h2 {
    color: #000000;
    font-size: 40px;
    font-weight: 500;
    line-height: 55px;
    margin: 0;
    text-transform: capitalize;
    padding-bottom: 40px;
    text-align: center;
}

.lifeLotteryoe-box {
    padding: 0 103px;
}

.lifeLotteryoe-left p {
    font-family: "Inter", sans-serif;
    color: #000000;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    font-weight: 400; 
    text-align: center;  
}

.lifeLotteryoe-boxs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    justify-content: space-around;
    grid-row-gap: 30px;    
}


.lifeLotteryoeitem {
    position: relative;
    padding: 22px 25px;
    background: #fff;
    border-radius: 15px;
    height: 140px;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    overflow: hidden;
    padding-right: 60px;
}

.lifeLotteryoeitem h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    line-height: 30px;
}

.lifeLotteryoeitem p {
    color: #6e6565;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    line-height: 25px;
    padding-top: 7px;
}

.lifeLotteryoeitem img {
    position: absolute;
    right: 7px;
    bottom: 0;
    max-width: 100%;
    height: 103px;  
}

/*--- latesthotrls-area start---*/
.latesthotrls-area {
    background-color: #F8F9FA;
    padding: 90px 0;
    padding-top: 120px;
}

.latesthotrlsleft-text {
    border: none;
    border-radius: 0;
    padding: 0;
    box-sizing: border-box;
    height: initial;
}

.latesthotrls-part {
    display: flex;
    gap: 40px;
}

.latesthotrls-left {
    width: 60%;
}

.latesthotrls-right {
    width: 40%;
}

.latesthotrlsleft-text {
    border: none;
    border-radius: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8F9FA;
    height: initial;
}

.latesthotrlsleft-text h2 {
    color: #000;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    line-height: 50px;
    text-transform: capitalize;
    padding-bottom: 35px;  
}

.latesthotrlsleft-text p {
    font-family: "Inter", sans-serif;
    color: #000000;
    font-size: 16px;
    margin: 0;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 25px;    
}


.latesthotrlsrt-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-around;
    grid-row-gap: 30px;    
}


.latesthotrlsrt-item {
    display: block;
    border-radius: 20px;
    padding: 32px 50px;
    box-sizing: border-box;
    background-color: #562285;
}

.latesthotrlsrt-text h2 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
}

.latesthotrlsrt-text p {
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 16px;
    margin: 0;
    font-weight: 400;
    line-height: 30px;
    padding-top: 10px;
}

.latesthotrlsrt-right ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-top: 20px;
}

.latesthotrlsrt-right ul li {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 8px;
}

.latesthotrlsrt-right ul li:last-child {
    margin-right: 0px;
}

.latesthotrlsrt-right ul li.active {
    border: 2px solid #fff;
    background-color: #ffffff00;
    color: #fff;
}


.bmheroleft {
    display: none;
}

.latesthotrlsrt-itembg {
    background-color: #7B5D9F;
}

/*--- newherott-area start---*/
.newherott-area {
    background-color: #fff;
    padding: 80px 0 70px 0px;
}


.newhero-heading {
    padding-bottom: 90px;
}

.newhero-heading h2 {
    color: #000;
    font-size: 45px;
    font-weight: 500;
    margin: 0;
    line-height: 48px;
    padding-bottom: 25px;
}

.newhero-heading p {
    font-family: "Inter", sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    margin: 0;   
}


.newheroitem1 {
    padding-bottom: 30px;
}

.newheroitem1 h3 {
    font-family: "Inter", sans-serif;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    padding-bottom: 25px;    
}

.newheroitem1 h5 {
    font-family: "Inter", sans-serif;
    color: #000000;
    font-size: 18px;
    margin: 0;
    line-height: 28px;
    font-weight: 400;
    padding-bottom: 20px;    
}

.newheroitem1 p {
    font-family: "Inter", sans-serif;
    color: #000000;
    font-size: 18px;
    margin: 0;
    line-height: 28px;
    font-weight: 400;
    padding-bottom: 15px;
}



/*--- joinwinners-area start --*/
.joinwinners-area {
  background-color: #fff;
  padding: 90px 0;
  padding-bottom: 0px;
}


.joinwinners-part {
    display: flex;
    align-items: center;
    gap: 30px;
    background-image: url(img/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 35px 50px;

}

.joinwinners-left {
    width: 70%;
}

.joinwinners-right {
    width: 30%;
}

.joinwinners-left h2 {
    color: #FFCF4A;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    line-height: 40px;
    padding-bottom: 26px;
}

.joinwinners-left h6 {
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 25px   
}

.joinwinners-left p {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
    font-weight: 300;
    line-height: 30px;    
}


.joinwinners-left a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 158px;
    height: 48px;
    display: block;
    background: #9B74D3;
    line-height: 48px;
    text-align: center;
    border-radius: 10px;
    margin-top: 29px;
    transition: 0.3s all ease;    
}

.joinwinners-left a:hover {
    background-color: #fff;
    color: #000;
}

.joinwinners-right img {
    max-width: 100%;
    display: block;
    margin: auto;
    height: 269px;
}


/*--- form-area start ---*/
.form-area {
    background-color: #583788;
    padding: 80px 0;
}
.formbox {
    width: 552px;
    display: block;
    margin: auto;
    border-radius: 20px;
    background-color: #f7edffe8;
    padding: 70px 45px;
    box-sizing: border-box;
    padding-bottom: 60px;
}

.formheading {
    padding-bottom: 45px;
}

.formheading h2 {
    color: #000;
    font-size: 40px;
    font-weight: 500;
}

.fromitems h5 {
    font-family: "Inter", sans-serif;
    color: #ffffff61;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    font-weight: 300;
    padding-bottom: 10px;
}


.formpart input {
    font-family: "Inter", sans-serif;
    color: #c9c5cc;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    padding: 14px 18px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #fff;
    border: none;
    outline: none;
}

.formpart input::placeholder {
   font-family: "Inter", sans-serif;
   color: #c9c5cc;
   font-size: 16px;
   font-weight: 400;
}

.formpart input[type="submit"] {
    font-family: "Ubuntu", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s all ease;
    background-color: #8457B9;
    margin-bottom: 0px;
    padding: 16px 18px;
}

.formpart input[type="submit"]:hover {
    background-color: #000;
    color: #fff;
}

.fromitems h5 {
    color: #000;
    font-size: 16px;
    line-height: 14px;
    margin: 0;
    font-weight: 400; 
}
.fromitems {
    padding-bottom: 0px;
}


.fromitem3 {
    padding-top: 25px;
}

.fromitem3 h6 {
    font-family: "Inter", sans-serif;
    color: #7c7780;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    font-weight: 400;
    text-align: center;  
}

.fromitem3 h6 a {
    color: #000;
    font-weight: 500;
    border-bottom: 1px solid #000;
    margin-left: 3px;
    transition: 0.3s all ease;
}


.fromitem3 h5 {
    color: #ffffff80;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    font-weight: 300;
    text-align: center;
    padding-top: 10px; 
}

.fromitem3 h5 a {
    color: #C39804;
    border-bottom: 1px solid #C39804;
    margin-left: 3px;
    transition: 0.3s all ease;

}

.fromitem3 h5 a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}



.maincheckbox {
    padding-bottom: 45px;
}


.checkboxpart {
    font-family: "Inter", sans-serif;
    display: block;
    position: relative;
    padding-left: 31px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000;
    font-size: 14px;
    line-height: 29px;
    font-weight: 400;
}

.checkboxpart input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #ffffff00;
    border: 2px solid #948e99;
    border-radius: 2px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxpart input:checked ~ .checkmark:after {
  display: block;
}

.checkboxpart .checkmark:after {
    left: 7px;
    top: 2px;
    width: 3px;
    height: 9px;
    border: solid #8457B9;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}
.password-container input {
   padding-right: 40px;
   width: 100%;
}
.toggle-password {
    position: absolute;
    right: 12px;
    cursor: pointer;
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    top: 17px;
}
.toggle-password img {
filter: brightness(0) saturate(100%) invert(43%) sepia(16%) saturate(1918%) hue-rotate(225deg) brightness(90%) contrast(92%);
    width: 20px;
    height: 20px;
}

.maincheckbox {
    padding-bottom: 25px;
}


.main2box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}


.forgotps p {
    margin: 0;
    text-align: right;
}

.forgotps p a {
    font-family: "Inter", sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    font-weight: 400;
    text-decoration: underline;  
}


.main2box .maincheckbox {
    padding-bottom: 0px;
}


.password-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  .password-container input {
    padding-right: 40px;
    width: 100%;
  }
  .toggle-password {
    position: absolute;
    right: 12px;
    cursor: pointer;
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    top: 17px;
  }
  .toggle-password img {
    filter: brightness(0) saturate(100%) invert(82%) sepia(6%) saturate(507%)
      hue-rotate(183deg) brightness(89%) contrast(90%);
    width: 20px;
    height: 20px;
  }